## Set up the environment

In [1]:
import pandas as pd
import numpy as np

### Question1:
What's the version of Pandas that you installed?

In [2]:
pd.__version__

'1.5.3'

In [3]:
df = pd.read_csv("C:/Users/Raider/alexey/housing.csv")

In [4]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

### Question 2
How many columns are in the dataset?

In [5]:
len(df.columns)

10

### Question 3
Which columns in the dataset have missing values?

In [6]:
df.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

### Question 4
How many unique values does the ocean_proximity column have?

In [7]:
df[ 'ocean_proximity'].nunique()

5

### Question 5
What's the average value of the median_house_value for the houses located near the bay?

In [8]:
# Calculate the average median_house_value for houses near the bay
average_median_house_value_near_bay = df[df['ocean_proximity'] == 'NEAR BAY']['median_house_value'].mean()
print(average_median_house_value_near_bay)

259212.31179039303

### Question 6

- Calculate the average of total_bedrooms column in the dataset.
- Use the fillna method to fill the missing values in total_bedrooms with the mean value from the previous step.
- Now, calculate the average of total_bedrooms again.
- Has it changed?

In [9]:
# Calculate the average of total_bedrooms column
average_total_bedrooms_before_fill = df['total_bedrooms'].mean()

# Use the calculated average for houses near the bay to fill missing values in total_bedrooms
df.loc[df['ocean_proximity'] == 'NEAR BAY', 'total_bedrooms'] = df[df['ocean_proximity'] == 'NEAR BAY']['total_bedrooms'].fillna(average_median_house_value_near_bay)

# Calculate the average of total_bedrooms again
average_total_bedrooms_after_fill = df['total_bedrooms'].mean()

# Check if the average has changed
if average_total_bedrooms_before_fill == average_total_bedrooms_after_fill:
    print("The average of total_bedrooms has not changed after filling missing values with the mean for houses near the bay.")
else:
    print("The average of total_bedrooms has changed after filling missing values with the mean for houses near the bay.")

The average of total_bedrooms has changed after filling missing values with the mean for houses near the bay.

### Questions 7: Value of the last element of w

In [10]:

# Select rows where 'ocean_proximity' is 'ISLAND' and specific columns
selected_data = df[df['ocean_proximity'] == 'ISLAND'][['housing_median_age', 'total_rooms', 'total_bedrooms']]

# Get the underlying NumPy array
X = selected_data.to_numpy()

# Compute matrix-matrix multiplication between the transpose of X and X (XTX)
XTX = np.dot(X.T, X)

# Compute the inverse of XTX
inv_XTX = np.linalg.inv(XTX)

# Create an array y
y = np.array([950, 1300, 800, 1000, 1300])

# Multiply the inverse of XTX with the transpose of X, and then multiply the result by y to get w
w = np.dot(np.dot(inv_XTX, X.T), y)

# Get the last element of w
last_element_w = w[-1]

print("The value of the last element of w is:", round(last_element_w,3))

The value of the last element of w is: 5.699